@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: 0 20px;
  top: 0;

}

header img {
  height: 34px;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul li {
  text-decoration: none;
  padding: 0 20px;
  color: #000;
  /* list-style: none; */
  list-style-type: none;
}

main {
  margin-top: 75px;
  text-align: center;

}

#form{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  font-family: sans-serif;
  white-space: nowrap;
  font-size: 12px;
}
.form-child{
  margin: 10px 0px;
}
.products div{
  border: 1px solid black;
  width: 313px;
  margin: 10px;
}
.products .title{
  background-color: rgb(221, 221, 221);
  text-transform: uppercase;
  font-weight: 700;
  padding: 15px;
  font-family: "Lato", sans-serif;
}
.products ol{
  list-style-type: none;
}
.products li{
  margin: 15px 0px;
}
.btn{
  background-color: #f1c40f;
  padding: 0 20px;
  font-weight: 900;
}
.btn:hover{
  background-color: orange;
}
.products{
  display: flex;
  justify-content: center;
}
h2{
  margin: 15px 0;
}
#hello-world {
  display: none;
}